<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>northloop.auth0.com</string>
	<key>ClientId</key>
	<string>ukjT94Pod0eFK9pufXpbsdY00hM9DoKy</string>
</dict>
</plist>
