//
//  Production.xcconfig
//  NorthLoopFin
//
//  Created by Daffodil on 04/12/18.
//  Copyright © 2018 NorthLoop. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BACKEND_URL = https:\/\/play.railsbank.com
API_KEY = 6l0qu5j6ms6q0bhmllj7nbjgo5z9ymk5#frktgf6cx2p4018d69wr4is5o4iapyj3wzpjj816nqxo4xt0mmaatrkrme246iui
GOOGLE_MAP_API_KEY = AIzaSyAPZNnv1IimI1KKugQcjyeBxR_hndxoZjM
