//
//  Production.xcconfig
//  NorthLoopFin
//
//  Created by Daffodil on 04/12/18.
//  Copyright © 2018 NorthLoop. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BACKEND_URL = http:\/\/ec2-18-219-216-154.us-east-2.compute.amazonaws.com:3000/api/v1/
API_KEY = i1ix4e02o6yfi6idnh1nlj6swkzivmmk#s2wg6pcnm9hr7dhqbtuk78b2qpndbmkqtbs5g7881hcz579j9ilbdko7pa4s8ule
GOOGLE_MAP_API_KEY = AIzaSyAPZNnv1IimI1KKugQcjyeBxR_hndxoZjM
TWILIO_API_KEY = u7oFfLykN1eqNIMNRujXscIxgOTw3aTL
CARD_URL = https:\/\/api.synapsefi.com/v3.1
AMPLITUDE_API_KEY = 7325155950ce573adb3c6212325edc93
SMARTYSTREETS_AUTH_ID = d6fcdf3d-66a3-09d0-597e-63a73533fc4a
SMARTYSTREETS_AUTH_TOKEN = 9guHY6ZChG3BaILRZECB
