//
//  Staging.xcconfig
//  NorthLoopFin
//
//  Created by Daffodil on 04/12/18.
//  Copyright © 2018 NorthLoop. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BACKEND_URL = https:\/\/play.railsbank.com
API_KEY = p7inwz97c1djv1fwmrr1szwgff4epb7o#h797pdo9dg6ltfnddd0ab4acgjqk3fvrgzs7k1zlsizu09po1pyibfrw6s6brqbb
GOOGLE_MAP_API_KEY = AIzaSyAPZNnv1IimI1KKugQcjyeBxR_hndxoZjM
