//
//  Staging.xcconfig
//  NorthLoopFin
//
//  Created by Daffodil on 04/12/18.
//  Copyright © 2018 NorthLoop. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BACKEND_URL = https:\/\/play.railsbank.com
API_KEY = 0tar9gyensmvlhtlz5kc7ryjr1c91buv#2zlm5bun4jf53y18t126oo3j1sncgp13i9oc3ndgsqu0n9jeqkke92umzfcnr8ps
GOOGLE_MAP_API_KEY = AIzaSyAPZNnv1IimI1KKugQcjyeBxR_hndxoZjM
TWILIO_API_KEY = u7oFfLykN1eqNIMNRujXscIxgOTw3aTL
